.capital-screen {
  position: relative;
  z-index: 5;
  padding-top: 203px;
  padding-bottom: 274px;

  background-repeat: no-repeat;
  background-position: 80% 160px;
}

.no-webp .capital-screen {
  background-image: url("../img/triangle-1-desktop.png");
}

.webp .capital-screen {
  background-image: url("../img/triangle-1-desktop.webp");
}

.capital-screen__caption {
  z-index: 5;
  margin: 0;
  margin-left: 9px;
  margin-bottom: 26px;
  padding: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 80px;
  line-height: calc(94 / 80);
  letter-spacing: 0.07em;
  text-transform: uppercase;

  color: #FFFFFF;
}

.capital-screen__text {
  position: relative;
  margin: 0;
  margin-left: 107px;
  margin-bottom: 44px;
  padding: 0;
  width: 620px;

  font-family: "PT Mono", "Arial", monospace;
  font-weight: 400;
  font-size: 22px;
  line-height: calc(34 / 22);
  color: #FFFFFF;

  &::after {
    content: "";
    display: block;
    position: absolute;

    width: 66px;
    height: 2px;
    left: -95px;
    top: 18px;

    background: #FFFFFF;
  }
}

.capital-screen__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 407px;
  height: 55px;
  margin-left: 106px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.05em;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;

  background: #00B2FF;
  border-radius: 5px;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.capital-screen__link-text--mobile {
  display: none;
}

.capital-screen__img {
  position: absolute;
  z-index: -1;
  left: 54%;
  top: 146px;
}

@media (max-width: 1023px) {
  .capital-screen {
    padding-top: 113px;
    padding-bottom: 163px;
    background-repeat: no-repeat;
    background-position: 156% 7px;
  }

  .no-webp .capital-screen {
    background-image: url("../img/triangle-1-tablet.png");
  }

  .webp .capital-screen {
    background-image: url("../img/triangle-1-tablet.webp");
  }

  .capital-screen__caption {
    margin-left: 63px;
    margin-bottom: 29px;
    width: 470px;

    font-size: 60px;
    line-height: 1.17;
  }

  .capital-screen__text {
    margin-left: 114px;
    margin-bottom: 55px;
    width: 356px;

    font-size: 18px;
    line-height: 1.6;

    &::after {
      content: "";
      left: -48px;
      top: 16px;
      width: 33px;
      height: 2px;
    }
  }

  .capital-screen__link {
    margin-left: 114px;
    width: 379px;
  }

  .capital-screen__img {
    left: 66%;
    top: 37px;

    width: 465px;
    height: 340px;
  }
}

@media (max-width: 767px) {
  .capital-screen {
    padding-top: 230px;
    padding-bottom: 70px;

    background-position: -122% 15px;
  }

  .no-webp .capital-screen {
    background-image: url("../img/triangle-1-mobile.png");
  }

  .webp .capital-screen {
    background-image: url("../img/triangle-1-mobile.webp");
  }

  .capital-screen__caption {
    margin-left: 0;
    margin-bottom: 27px;
    width: 277px;
    font-size: 40px;
    line-height: calc(47 / 40);
  }

  .capital-screen__text {
    margin-left: 51px;
    margin-bottom: 40px;
    font-size: 16px;
    width: 245px;

    &::after {
      left: -48px;
      top: 15px;
    }
  }

  .capital-screen__link {
    margin-left: 0;
    width: 100%;
  }

  .capital-screen__img {
    left: 50%;
    width: 301px;
    height: 220px;
    transform: translateX(-45%);
  }

  .capital-screen__link-text--desktop {
    display: none;
  }

  .capital-screen__link-text--mobile {
    display: inline;
  }
}



