.container {
  width: 1440px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;

  &--up {
    width: auto;
  }

  &--center {
    width: auto;
  }

  &--center-mobile {
    width: auto;
  }

  /*margin-left: 255px;
  margin-right: 255px;

  &--up {
    margin: 0;
  }

  &--center {
    margin: 0;
  }

  &--center-mobile {
    margin: 0;
  }
  */
}

@media (max-width: 1023px) {
  .container {

    width: 720px;

    &--up-center {
      width: auto;
    }

    &--up {
      width: 720px;
    }

    &--center {
      width: 720px;
    }

    &--center-mobile {
      width: auto;
    }

    /*margin: 0 25px;

    &--up-center {
      margin: 0;
    }

    &--up {
      margin: 0 25px;
    }

    &--center {
      margin: 0 25px;
    }

    &--center-mobile {
      margin: 0;
    }*/
  }
}

@media (max-width: 767px) {
  .container {
    width: 290px;

    &--up-center {
      width: auto;
    }

    &--up {
      width: 290px;
    }

    &--center {
      width: auto;
    }

    &--center-mobile {
      width: 290px;
    }

    /*margin: 0 17px;

    &--up-center {
      margin: 0;
    }

    &--up {
      margin: 0 17px;
    }

    &--center {
      margin: 0;
    }

    &--center-mobile {
      margin: 0 17px;
    }*/
  }
}
