.container {
  /*width: 1411px;*/
  margin-left: 255px;
  margin-right: 255px;
}

@media (max-width: 1024px) {
  .container {
    margin: 0 25px;
  }
}

@media (max-width: 768px) {
  .container {
    margin: 0 17px;
  }
}
