.copyright-link {
  font-family: "PT Mono", "Arial", monospace;
  font-weight: 400;
  font-size: 13px;
  line-height: calc(24 / 13);
  letter-spacing: 0.04em;
  text-transform: uppercase;
  text-decoration: none;
  color: #1B2D37;

  opacity: 0.5;

  cursor: pointer;

  &:hover {
    opacity: 1;
  }
}
