.footer-down {
  padding: 11px 0;
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.footer-down__list {
  list-style: none;
  margin: 0;
  margin: 0 15px;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-down__item {
  margin-right: 144px;

  &:first-child {
    margin-right: 70px;
  }

  &:nth-child(3) {
    margin-right: 0;
  }

  &:last-child {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 1023px) {
  .footer-down__list {
    margin: 0;
  }

  .footer-down {
    padding-top: 17px;
    padding-bottom: 24px;
  }

  .footer-down__item--desktop {
    display: none;
  }
}

@media (max-width: 767px) {
  .footer-down {
    padding-top: 24px;
    padding-bottom: 26px;
  }

  .footer-down__list {
    display: block;
    text-align: center;
  }

  .footer-down__item {
    margin-right: 0;
  }

  .footer-down__item {
    &:last-child {
      margin-top: 17px;
    }
  }
}
