.footer-down {
  border-top: 1px solid rgba(98, 105, 98, 0.2);
}

.footer-down__list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.footer-down__item {
  margin-right: 10px;
  &:last-child {
    margin-right: 0;
    margin-left: auto;
  }
}

@media (max-width: 1024px) {
  .footer-down__item--desktop {
    display: none;
  }
}

@media (max-width: 768px) {
  .footer-center__caption-block {
    display: flex;
    flex-wrap: wrap;
  }

  .footer-down__list {
    display: block;
  }
}
