.footer-up__logo {
  margin-bottom: 56px;
}

.footer-up__social-list {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
}

.footer-up__social-item {
  margin-right: 16px;
}

.footer-up__link {
  display: none;
}

.footer-up__social-link {
  display: block;
  text-decoration: none;

  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }
}

@media (max-width: 1023px) {
  .footer-up {
    padding: 19px 0;
    border-bottom: 1px solid rgba(98, 105, 98, 0.2);
  }

  .footer-up__logo {
    margin-bottom: 0;
  }

  .footer-up__flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .footer-up__link {
    display: block;
    margin-left: 13px;
  }

  .footer-up__social-item:last-child {
    margin-right: 0;
  }
}

@media (max-width: 767px) {
  .footer-up {
    padding: 46px 0;
  }

  .footer-up__flex {
    flex-direction: column;
  }

  .footer-up__link {
    margin-left: 0;
    margin-bottom: 32px;
  }

  .footer-up__logo {
    margin-bottom: 25px;
  }
}
