.header {
  padding: 29px 0;
  background-color: #000000;
}

.header__flex-block {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  display: flex;
  flex-wrap: wrap;

  text-decoration: none;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.header__logo-img {
  margin-right: 17px;
  margin-top: 5px;
  width: 50px;
  height: 50px;
}

.header__logo-caption {
  margin: 0;
  margin-top: 10px;
  padding: 0;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-size: 25px;
  font-weight: 700;
  line-height: calc(29.3 / 25);
  letter-spacing: normal;
  color: #ffffff;
}

.header__logo-text {
  margin: 0;
  padding: 0;

  font-family: "Roboto", "Arial", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: calc(14 / 12);
  letter-spacing: normal;
  color: #788891;
}

.header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header__item {
  margin-left: 48px;

  &--tel {
    margin-left: 85px;
  }

  &--call {
    margin-top: 5px;
  }
}

.header__item-link {
  display: flex;
  margin-top: 4px;

  text-decoration: none;
  font-family: "PT Mono", "Arial", monospace;
  font-weight: 400;
  font-size: 16px;
  line-height: calc(18 / 16);
  color: #ffffff;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.header__call-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 180px;
  height: 44px;

  font-family: "Roboto Condensed", "Arial", sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: calc(17 / 14);
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.7px;
  color: #ffffff;

  border: 1px solid #ffffff;
  border-radius: 5px;

  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.header__item-text {
  margin: 0;
  padding: 0;
  letter-spacing: 0.2px;
}

.header__item-svg--tel {
  margin-right: 14px;
  width: 20px;
  height: 20px;
}

.header__item-svg--mail {
  margin-right: 19px;
  width: 21px;
  height: 18px;
}


@media (max-width: 1024px) {
  .header {
    padding: 15px 0;
  }

  .header__item-text {
    display: none;
  }

  .header__logo-img {
    margin-top: 2px;
    margin-right: 16px;
    width: 53px;
    height: 58px;
  }

  .header__logo-caption {
    margin-top: 11px;
    letter-spacing: normal;
  }

  .header__logo-text {
    margin-top: 1px;
    letter-spacing: normal;
  }

  .header__item-link {
    margin-top: 0;
  }

  .header__item--tel {
    margin-left: 33px;
  }

  .header__item--call {
    display: none;
  }

  .header__item-svg {
    margin: 0;

    &--tel {
      width: 25px;
      height: 28px;
    }

    &--mail {
      width: 25px;
      height: 20px;
    }
  }
}

@media (max-width: 768px) {
  .header__logo-img {
    width: 38px;
    height: 38px;
  }

  .header__logo-textblock {
    display: none;
  }

  .header__item-svg--tel {
    width: 23px;
    height: 28px;
  }

  .header__item--tel {
    margin-left: 23px;
  }
}
